# Cloudinary Configuration
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dlot6ojqh
NEXT_PUBLIC_CLOUDINARY_API_KEY=779726434268999
CLOUDINARY_API_SECRET=1VB4gCOmV2XEEgHm-2XdgoShXhY

NEXT_PUBLIC_USER_EMAIL=anurag3@gmail.com
# API Configuration
NEXT_PUBLIC_API_BASE_URL=https://api.alumnx.com
